body{
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei", SimSun, sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
/*导航栏*/
.nav{
    display: block !important;
    left: 0 !important;
    width: 100%;
}
#nav_bar{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    background: #fbfbfb;
}
#nav_bar .inner{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    height: 50px;
    position: relative;
    z-index: 1;
}
#nav_bar .inner .l_nav{
    margin: 0;
    padding: 0;
    width: 420px;
    height: 50px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
#nav_bar .inner .l_nav .jx3_logo{
    float: left;
    margin: 0;
    padding: 4px 0 0;
    width: 86px;
    height: 46px;
    text-align: left;
    background: url(../images/bai.png) top right no-repeat;
}
#nav_bar .inner .l_nav .jx3_logo img{
    width: 70px;
    height: 38px;
    vertical-align: top;
    border: none;
}
#nav_bar .inner .l_nav .mini_mend{
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 315px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    display: block;
    overflow: hidden;
    background: url(../images/tga.png) no-repeat;
}
#nav_bar .inner .r_nav{
    float: right;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 50px;
    line-height: 50px;
    display: block;
}
#nav_bar .inner .r_nav .t_links{
    float: right;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    color: #555;
    font-size: 13px;
    display: block;
    overflow: hidden;
}
#nav_bar .inner .r_nav .t_links a{
    margin: 0;
    padding: 0 12px;
    height: 50px;
    color: #555;
    text-decoration: none;
    display: inline-block;
}
#nav_bar .inner .r_nav .t_links a.hlight{
    color: #e94a37;
}
#nav_bar .inner .r_nav .t_links a:hover{
    color: #e94a37;
    text-decoration: none;
    background: url(../images/nav_h.png) repeat-x;
}
/*内容*/
.main-layout{
    left: 0;
    right: 0;
}
.main-layout-header{
    position: relative;
    background: #0188e5 url(../images/gpbg.jpg) no-repeat 0 0;
    height: 360px;
}
.main-layout-sec{
    background: url(../images/renbg.6cb88d27.png) no-repeat right -50px;
    height: 100%;
}
.main-layout-container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.main-layout-header-wrapper{
    position: absolute;
}
.banner-logo,.banner-logo-img{
    display: block;
    margin-top: -15px;
}
.banner-nav{
    background: url(../images/navbg.7339f63c.png) no-repeat 0 0;
    font-size: 0;
    padding: 0 11px;
}
.banner-nav a{
    text-decoration: none;
}
.banner-nav-left,.banner-nav-mid,.banner-nav-right{
    display: inline-block;
    height: 37px;
    font-size: 14px;
    line-height: 37px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    padding: 0 12px;
}
.login-nav{
    font-size: 14px;
    color: #fff;
}
.login-btn{
    color:#fff;
    text-decoration: none;
}
.login-out{
    cursor: pointer;
}
.slogan-nav{
    width: 732px;
}
.slogan-txt{
    color: #f5de20;
    font-size:72px;
    line-height: 72px;
}
.slogan-txt2{
    font-size:14px;
    color: #fffffe;
    display: block;
    margin-top: -30px;
    line-height: 36px;
}
.main-layout-part{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: table;
}
.main-layout .col1,.main-layout .col3{
    background-color: #eee;
}
.main-layout-col{
    display: table-cell;
}
.main-layout .col-t1{
    background-position: 0 0;
    color: #b33b3b;
}
.main-layout .col-t{
    background: url(../images/1.jpg) no-repeat 0 0;
    width: 400px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
    font-weight: 700;
    margin-top: 0px;
}
.main-layout .col-t1 .col-s {
    display: block;
    border-bottom: 1px solid #cacbbf;
    margin: 0 34px;
}
.main-layout .col-i1 {
    background-position: 0 bottom;
}

.main-layout .col-i1 {
    background-position: 0 bottom;
}
.main-layout .col-b {
    background: url(../images/2.jpg) no-repeat 0 bottom;
    height: 740px;
    padding: 0 34px;
    line-height: 26px;
}
.main-layout .col-b p {
    margin-top: 20px;
}
.main-layout .col-tq1,.main-layout .col-tq2 {
    width: 80px;
    background-position: -27px -62px;
}
.main-layout .tq {
    display: block;
    height: 34px;
    line-height: 34px;
    line-height: 32px\9;
    font-size: 16px;
    color: #fff;
    text-indent: 14px;
    margin: 20px 0 10px;
}
.icon {
    background: url(../images/sprite.4795da51.png) no-repeat;
}
.main-layout .col-tq3 {
    width: 108px;
    text-indent: 18px;
    background-position: 0 -62px;
}
.main-layout .tq-i {
    width: 24px;
    height: 24px;
    background-position: -180px -96px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-style: normal;
    color: #fff;
    float: left;
    margin-top: 2px;
}
.main-layout .tq-sp {
    margin-left: 30px;
    display: block;
}
.main-layout .col-t2 .col-s {
    display: block;
    border-bottom: 1px solid #f2d2d2;
    margin: 0 34px;
}
.main-layout .col-t2 {
    background-position: -400px 0;
    color: #d67839;
}
.main-layout .col2 {
    background-color: #ebebeb;
}
.main-layout .col-t3 {
    background-position: -800px 0;
    color: #bca801;
}
.main-layout .col-t3 .col-s {
    display: block;
    border-bottom: 1px solid #e0ccbf;
    margin: 0 34px;
}
.main-layout .col-red {
    color: #b33b3b;
}
.main-layout .application {
    color: #fffffe;
    font-size: 24px;
    width: 333px;
    height: 62px;
    background-position: 0 0;
    cursor: pointer;
}
.main-layout .chk-xy {
    display: block;
    text-decoration: underline;
    font-size: 18px;
    color: #900;
    text-align: center;
    cursor: pointer;
}
/*协议*/
.mask {
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    background: #000;
    opacity: .7;
    filter: alpha(opacity=70);
}
.pop-agreement {
    width: 888px;
    height: 560px;
    margin-left: -444px!important;
    margin-top: -350px!important;
    font-size: 12px;
    color: #666;
    line-height: 36px;
}
.pop-sec {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    background-color: #d5d5d5;
    margin: 0 auto;
    padding: 6px;
}
.pop-close {
    position: absolute;
    right: -64px;
    top: 0;
    width: 64px;
    height: 64px;
    background-color: #d5d5d5;
}
.pop-close .pop-clo-s {
    background-position: -108px -62px;
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -9999px;
    margin-top: 16px;
    margin-left: 14px;
}
.pop-content {
    background-color: #fff;
    padding: 4px;
    position: relative;
}
.pop-agreement .pop-main {
    padding-bottom: 20px;
}
.pop-main {
    border: 1px solid #f3f3f3;
}
.pop-title {
    font-size: 18px;
    color: #ff6900;
    text-align: center;
    background-color: #f3f3f3;
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.pop-agreement .agreement-con {
    padding: 0 32px;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 50px;
}
.pop-agreement .arg-tit {
    font-size: 18px;
}
/*退款登录*/
.pop-login {
    width: 530px!important;
    height: 510px;
    margin-top: -255px!important;
    margin-left: -225px!important;
}
.pop-sec {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    background-color: #d5d5d5;
    margin: 0 auto;
    padding: 6px;
}
.pop-login .pop-content {
    height: 502px;
}
.pop-login .pop-form {
    width: 360px;
    margin: 0 auto;
}
.pop-login .form-item {
    display: block;
    margin: 20px auto 0;
    position: relative;
}

.pop-login .place-txt {
    color: #a9a9a9;
    width: 356px;
    height: 38px;
    line-height: 38px;
}
.pop-login .place-txt {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    text-indent: 10px;
    font-size: 14px;
    line-height: 40px;
}
.pop-login .inp {
     display: block;
    color: #ccc;
     width: 346px;
     height: 38px;
     line-height: 38px;
     font-size: 14px;
     color: #666;
     padding-left: 10px;
     background-color: #fff;
     border: 2px solid #e5e5e5;
 }
.main-layout .select {
    position: relative;
    height: 42px;
    margin-bottom: 25px;
}
.main-layout .select .sel-v {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    cursor: pointer;
    width: 356px;
    height: 38px;
    line-height: 38px;
    text-indent: 5px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    z-index: 3;
    font-size: 14px;
}
input::-webkit-input-placeholder {
    color: #ccc;
}
.main-layout .sel-value {
    color: #ccc;
}
.main-layout .sel-arr {
    display: block;
    position: absolute;
    right: 1px;
    top: 1px;
    height: 36px;
    width: 40px;
    background-color: #e5e5e5;
    z-index: 5;
}
.main-layout .sel-arr-i {
    display: block;
    background-position: -140px -77px;
    width: 22px;
    height: 16px;
    margin: 10px auto 0;
}
.select .sel_list {
    width: 356px;
    height: 200px;
    position: absolute;
    left: -40px;
    top: 38px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
}
ol, ul {
    list-style: none;
}
.select .sel_ul {
    width: 356px;
    margin-left: -40px;
    margin-top: 0px;
    min-height: 30px;
    max-height: 200px;
    overflow: auto;
}
.select .sel_a {
    line-height: 40px;
    display: block;
    padding: 0 8px;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}
select{
    background-color: #fff;
    border: 2px solid #e5e5e5;
    font-size: 14px;
    color: #ccc;
    width: 100%;
    height: 40px;
    line-height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 10px;
}
.sel-bg:after{
    content: "";
    position: absolute;
    right: 20px;
    top: 35%;
    pointer-events: none;
    background: url(../images/sprite.4795da51.png) no-repeat;
    display: block;
    background-position: -140px -77px;
    width: 22px;
    height: 16px;
}
.main-layout .sub-btn {
    width: 362px;
    height: 50px;
    background-color: #c33;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 25px;
}
/*尾部*/
.footer{
    background-color: #222;
    color: #555;
    font-size: 12px;
    line-height: 18px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    height: 200px;
}
.footer_box{
    margin: 15px auto;
    text-align: left;
    width: 915px;

}
.footer_box a{
    color: #555;
    padding: 0 2px;
    text-decoration: none;
}
.footer_top{
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 30px;
    width: 868px;
}
.footer_top_left{
    float: left
}
.footer-img{
    display: inline-block;
}
.footer_top_rig{
    float: left;
    line-height: 30px;
    padding: 0 0 0 30px;
}
.footer_mid{
    font-size: 11px;
    margin: 0;
    padding: 2px 0 0 123px;
}
.footer_mid_font{
    display: block;
    margin-left: -95px;
}
.footer_bot{
    margin: 0;
    overflow: hidden;
    padding: 10px 0 0 30px;
    width: 1000px;
}
.footer_top_left{
    float: left
}
.footer_bot_rig{
    float: left;
    font-size: 11px;
    line-height: 18px;
    padding: 0 0 0 100px;
}
