body{
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei", SimSun, sans-serif;
}
ins,a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
ol,ul {
    list-style: none;
}
ul{
    display: block;
}
/*导航栏*/
.nav{
    display: block !important;
    left: 0 !important;
    width: 100%;
}
#nav_bar{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    background: #fbfbfb;
}
#nav_bar .inner{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    height: 50px;
    position: relative;
    z-index: 1;
}
#nav_bar .inner .l_nav{
    margin: 0;
    padding: 0;
    width: 420px;
    height: 50px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
#nav_bar .inner .l_nav .jx3_logo{
    float: left;
    margin: 0;
    padding: 4px 0 0;
    width: 86px;
    height: 46px;
    text-align: left;
    background: url(../images/bai.png) top right no-repeat;
}
#nav_bar .inner .l_nav .jx3_logo img{
    width: 70px;
    height: 38px;
    vertical-align: top;
    border: none;
}
#nav_bar .inner .l_nav .mini_mend{
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 315px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    display: block;
    overflow: hidden;
    background: url(../images/tga.png) no-repeat;
}
#nav_bar .inner .r_nav{
    float: right;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 50px;
    line-height: 50px;
    display: block;
}
#nav_bar .inner .r_nav .t_links{
    float: right;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    color: #555;
    font-size: 13px;
    display: block;
    overflow: hidden;
}
#nav_bar .inner .r_nav .t_links a{
    margin: 0;
    padding: 0 12px;
    height: 50px;
    color: #555;
    text-decoration: none;
    display: inline-block;
}
#nav_bar .inner .r_nav .t_links a.hlight{
    color: #e94a37;
}
#nav_bar .inner .r_nav .t_links a:hover{
    color: #e94a37;
    text-decoration: none;
    background: url(../images/nav_h.png) repeat-x;
}

/*page*/
.pc-1 {
    height: 900px;
    background: url(../images/bg.3b67b9e1.jpg) top no-repeat;
}
.pc-1-container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.pc-1-side {
    position: absolute;
    left: -30px;
    top: 100px;
}
.pc-1-right {
    float: right;
    text-align: center;
    margin-right: 0;
    width: 486px;
}
.pc-1-logo {
    margin: 90px 0 20px 90px;
    width: 241px;
}
.banner-logo,.banner-logo-img {
    display: block;
}
.pc-1-slogan {
    margin-bottom: 20px;
    text-align: left;
}
.download {
    height: 160px;
}
.download-btns {
    float: left;
    margin-top: 0px;
    margin-left: -40px;
}
.download-apple {
    margin-top: 14px;
}
.download-qr-code {
    float: left;
    margin-left: 20px;
}
.pc-1-subtitle {
    text-align: left;
    padding: 10px 0 0;
}
.pc-1-detail {
    text-align: left;
    color: #fffefe;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}
.rest {
    width: 100%;
    height: 900px;
}
#side-nav {
    right: 30px!important;
}
.navs {
    color: #fff;
    cursor: pointer;
    width: 50px;
    text-align: right;
    height: 38px;
    padding-right: 10px;
}
.curr {
    background: url(../images/curr.cc4f9861.png) no-repeat;
    background-position: 16px 4px;
}